<div class="tab cpr-medkit-tab {{tabs.embeddedMacros.cssClass}}" scrollable data-tab="embeddedMacros" data-group="main">
  <button data-action="openEmbeddedMacros">{{localize 'CHRISPREMADES.Medkit.EmbeddedMacros.Edit'}}</button>
</div>