<div class="tab cpr-medkit-tab {{tabs.embeddedMacros.cssClass}}" scrollable data-tab="embeddedMacros" data-group="main">
  <button data-action="openEmbeddedMacros">TODO: Open dem dere embedded macros</button>
</div>