<div>
  {{#unless (eq inputs.length 0)}}
    <p>{{{localize "CHRISPREMADES.EmbeddedMacros.HeaderHint"}}}</p>
  {{/unless}}
  {{#each inputs as |input|}}
    {{formGroup input.field value=input.value localize=true name=@key}}
  {{/each}}
  {{#unless (eq inputs.length 0)}}
    <button type="button" data-action="delete">
      <i class="fa-solid fa-trash"></i>
      {{localize 'CHRISPREMADES.Medkit.EmbeddedMacros.Delete'}}
    </button>
  {{/unless}}
</div>