<div class="tab cpr-medkit-tab {{tabs.summary.cssClass}} scrollable" data-tab="summary" data-group="main">
    <fieldset class="cpr-medkit-actor-summary cpr-fieldset">
        <legend>{{localize 'CHRISPREMADES.Medkit.Tabs.Summary.Legend.Label'}}</legend>
        {{{summary.value}}}
    </fieldset>
</div>