<nav class="medkit-tabs tabs">
  {{#each tabs}}
  <a class="item {{cssClass}}" data-action="tab" data-tab="{{id}}" data-group="main">
    <i class="{{icon}}"></i>
    {{localize label}}
  </a>
  {{/each}}
</nav>