<div class="tab cpr-medkit-tab {{tabs.devTools.cssClass}}" data-tab="devTools" data-group="main">
    <fieldset class="cpr-fieldset">
        <legend>Macros to be Called:</legend>
        <div class="cpr-row-center">
            <label for="effect">Effect:</label>
            <input type="text" id="effect" name="effect" value="{{macros.effect}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
        </div>
        <div class="cpr-row-center">
            <label for="aura">Aura:</label>
            <input type="text" id="aura" name="aura" value="{{macros.aura}}" placeholder="[&quot;macroNameMove&quot;, &quot;macroNameEnd&quot;]">
        </div>
    </div>
</div>