/* Dialog Styles, Done by Michael */

form .better-dialog .form-group input[type="radio"] {
    flex: 0;
    margin: 0px 5px;
    top: 0px;
}

form .better-dialog .form-group > div {
    margin: 0px 5px;
}

form .better-dialog .form-group > div.row-display {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

form .better-form-footer {
    margin: 10px 5px 0px;
    display: flex;
    flex-direction: row;
}

form .better-dialog .form-group img.label-image {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

form .better-dialog .form-group .row-display img.label-image {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}

form .better-dialog .form-group .row-display p.label-text {
    padding: 1%;
    text-align: center;
    font-size: 15px;
}

form .better-dialog .form-group button.form-button {
    padding: 0 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form .better-dialog .form-group img.button-image {
    width: 50px;
    height: 50px;
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

form .better-dialog .form-group p.button-text {
    width: 100%;
    padding: 1%;
    font-size: 15px;
}

form .better-dialog .content {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

form .better-dialog .form-group .flex-col button.form-button {
    padding: 0 0;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form .better-dialog .form-group .flexcol > div.select-many {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

form .better-dialog .form-group .flexcol > div.select-many > label {
    width: 100%;
    flex: 1;
}

form .better-dialog .form-group .flexcol > div.select-many > multi-select {
    width: 100%;
    flex: 2;
    margin: 0.625em 0 0.625em 0;
}

/* Common Formattings */

form .cpr-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1%;
    align-items: center;
    text-wrap: nowrap;
    gap: 0.625em;
}

form .cpr-row-center.cpr-multi-select-row {
    align-items: flex-end;
    justify-content: space-between;
}

form .cpr-row-center.cpr-multi-select-row label {
    padding: 2%;
}

form .cpr-row-center.cpr-multi-select-row multi-select {
    width: 100%;
}

form .cpr-row-center .multi-select-label {
    margin-top: 1.5em;
}

form .cpr-row-center .cpr-input-short {
    width: 50%;
}

.cpr-fieldset {
    border-radius: 4px;
    margin-top: 0.625em;
}

.cpr-fieldset .cpr-column {
    display: flex;
    flex-direction: column;
}

.cpr-fieldset .cpr-row {
    display: flex;
    flex-direction: row;
}

.theme-dark .cpr-fieldset {
    border-color: var(--color-light-5);
}

/* Additional Compendiums Styles */

.cpr-compendiums {
    display: flex;
}

.cpr-compendiums-header {
    margin-bottom: 10px;
}

.cpr-compendiums .compendium-checkbox {
    flex: 0;
    margin-right: 10px;
}

.cpr-compendiums .compendium-label {
    flex: 1
}

.cpr-compendiums .compendium-number {
    flex: .1;
    text-align: center
}

/* Medkit Styles */

.cpr-medkit-header {
    display: flex;
    align-items: baseline;
    gap: 0.625em;
    padding: 1%;
}
.cpr-medkit-header h1 {
    flex: 1;
    text-shadow: none !important;
    color: var(--button-text-color) !important;
    border: none;
    margin: 0;
}
.cpr-medkit-header p {
    font-family: var(--font-h1);
    font-size: var(--font-size-20);
}
.cpr-medkit-header i {
    font-size: var(--font-h1-size);
}

.cpr-medkit-tab {
    padding: 1%;
    margin: 0;
}

.cpr-medkit-tabs {
    border-bottom: var(--dnd5e-border-groove);
    border-top: var(--dnd5e-border-groove);
    padding: 2%;
    margin: 1%;
    margin-bottom: 10px;
}

.cpr-medkit-tab .cpr-fieldset .cpr-checkbox {
    height: 25px;
    --checkbox-size: 25px;
}

.cpr-medkit-tab .cpr-fieldset div.cpr-row-center:has(.cpr-checkbox) label {
    margin-right: 0.4em;
    width: auto;
}

.cpr-medkit-tab .cpr-fieldset .cpr-label-40 {
    width: 40%;
}

.cpr-medkit-tab .cpr-medkit-config .cpr-config-flex label {
    text-wrap: balance;
}

.cpr-medkit-tab .cpr-over-time-option .main-label {
    flex: 1
}
.cpr-medkit-tab .cpr-over-time-input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cpr-medkit-tab .cpr-over-time-input input[type="checkbox"] {
    height: 25px;
    --checkbox-size: 25px !important;
}

.cpr-medkit-tab .cpr-over-time-input multi-select {
    width: 100%
}

.cpr-medkit-tab .cpr-character-amounts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.4em;
    align-items: baseline;
    width: 100%;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box h1 {
    text-shadow: none;
    color: var(--button-text-color);
    border: none;
    margin: 0;
    padding: 4px;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box p {
    font-family: var(--font-h1);
    font-size: var(--font-size-20);
    margin: 0;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.green {
    background: #00800080;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.yellow {
    background: #ffff0080;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.red {
    background:#ff000080;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cpr-medkit-tab .cpr-actor-summary {
    display: flex;
    justify-content: center;
    margin-top: 0;
    user-select: text;
}

.cpr-medkit-tab .cpr-actor-summary legend {
    text-align: center;
    margin-bottom: 0.4em;
}

.cpr-medkit-tab .cpr-npc-amounts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column {
    width: 100%;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column h1 {
    text-shadow: none;
    color: var(--button-text-color);
    border: none;
    margin: 0;
    padding: 4px;
    font-size: var(--font-h2-size);
    text-align: center;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column ul {
    margin-left: 0.625em;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column:first-of-type h1 {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column:last-of-type h1 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.red h1 {
    background:#ff000080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.yellow h1 {
    background:#ffff0080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.green h1 {
    background:#00800080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.grey h1 {
    background: #80808080;
    margin-bottom: 0.625em;
}

.cpr-medkit-tab .cpr-row-center.cpr-npc-identifier {
    justify-content: center;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-row-center:has(> select) {
    flex-basis: 100%;
}

/* Just some flex values */

.cpr-config-flex {
    > label {
        flex: 1
    }
    > input {
        flex: .5;
    }
    > input[type="checkbox"] {
        flex: 0 !important;
        height: 25px;
        --checkbox-size: 25px !important;
    }
    > select {
        flex: .5
    }
    > file-picker {
        flex: 3
    }
}

.cpr-even-flex {
    > label {
        flex: 1
    }
    > input {
        flex: 1
    }
}

.cpr-input-flex {
    > label {
        flex: .2
    }
    > input {
        flex: 1
    }
}

/* Theme-based colorings for the medkit */

.theme-dark .cpr-medkit-tabs {
    border-color: var(--color-dark-1) !important;
}

.theme-light .cpr-medkit-tabs .item{
    color: var(--dnd5e-color-olive) !important;
}

.theme-light .cpr-medkit-tabs .item.active{
    color: var(--dnd5e-color-tan) !important;
}

.theme-dark .cpr-medkit-tabs .item {
    color: var(--color-light-5) !important;
}

.theme-dark .cpr-medkit-tabs .item.active {
    color: var(--color-light-3) !important;
}

.theme-light .cpr-medkit-tab div input:placeholder-shown {
    --input-placeholder-color: var(--dnd5e-color-olive);
}

.theme-dark .cpr-medkit-tab div input:placeholder-shown {
    --input-placeholder-color: var(--color-light-5);
}


/* Roll Resolver Styles */

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center {
    margin: 0px 0px 10px 0px;
    gap: 0px;
}

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center button {
    box-shadow: 0 0 5px 0px var(--button-border-color);
    border: none;
}

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center legend {
    margin-bottom: 5px;
}

[id="cpr-roll-resolver"].roll-resolver-form.standard-form {
    gap: 0;
}

[id="cpr-roll-resolver"] .roll-resolver-content {
    border-bottom: 1px solid;
    text-align: center;
    padding-bottom: 1%;
    font-size: var(--font-size-16);
}

.theme-dark .roll-resolver-content {
    border-color: var(--color-light-5);
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers {
    display: flex;
    justify-content: center;
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    font-style: italic;
}

.theme-dark [id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    color: var(--color-light-4);
}

.theme-light [id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    color: var(--color-dark-3);
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers p span {
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--color-text-primary);
}

[id="cpr-roll-resolver"] .roll-resolver-group .damage-type-icon {
    width: 30px;
    border: none;
}

.theme-dark .roll-resolver-group .damage-type-icon {
    filter: invert(10%) sepia(10.5%) saturate(2000%) hue-rotate(0deg) brightness(2100%) contrast(100%);
}

[id="cpr-roll-resolver"] .roll-resolver-group {
    padding: 0.625em;
    justify-content: center;
    align-items: center;
}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    gap: 0.625em;

}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-grid p:first-of-type{
    text-align: end;
}

[id="cpr-roll-resolver"] .roll-resolver-group input {
    flex: 1
}

/* Coloring Styles */

[data-medkit-color="pink"] {
    color: pink
}

[data-medkit-color="red"] {
    color: red
}

[data-medkit-color="orange"] {
    color: orange
}

[data-medkit-color="yellow"] {
    color: yellow
}

[data-medkit-color="green"] {
    color: green
}

[data-medkit-color="dodgerblue"] {
    color: dodgerblue
}

[data-medkit-color="orchid"] {
    color: orchid
}

/* Setting Styles */
[id="chris-premades-settings"] p.notes {
    white-space: pre-line
}