/* Variables */
.theme-dark {
    --cpr-border-color: var(--color-light-5);
    --cpr-input-background: var(--color-cool-4);
}

.theme-light {
    --cpr-border-color: var(--color-dark-5);
    --cpr-input-background: rgba(0, 0, 0, 0.1);
}

/* Dialog Styles, Done by Michael */

form .cpr-dialog .form-group input[type="radio"] {
    flex: 0;
    margin: 0px 5px;
    top: 0px;
}

form .cpr-dialog .form-group > div {
    margin: 0px 5px;
}

form .cpr-dialog .form-group > div.row-display {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

form .better-form-footer {
    margin: 10px 5px 0px;
    display: flex;
    flex-direction: row;
}

form .cpr-dialog .form-group img.label-image {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

form .cpr-dialog .form-group .row-display img.label-image {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}

form .cpr-dialog .form-group .row-display p.label-text {
    padding: 1%;
    text-align: center;
    font-size: 15px;
}

form .cpr-dialog .form-group button.form-button {
    padding: 0 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: calc(1.25 * var(--input-height));

    &:has(img) {
        height: calc(2.25 * var(--input-height));
    }
}

form .cpr-dialog .form-group img.button-image {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    border: 0px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

form .cpr-dialog .form-group p.button-text {
    width: 100%;
    padding: 1%;
    font-size: 15px;
}

form .cpr-dialog .content {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

form .cpr-dialog .form-group .flex-col button.form-button {
    padding: 0 0;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form .cpr-dialog .form-group .flexcol > div.select-many {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

form .cpr-dialog .form-group .flexcol > div.select-many > label {
    width: 100%;
    flex: 1;
}

form .cpr-dialog .form-group .flexcol > div.select-many > multi-select {
    width: 100%;
    flex: 2;
    margin: 0.625em 0 0.625em 0;
}

form#cpr-embedded-macros-window {
    height: auto;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

form#cpr-embedded-macros-window [data-application-part="header"],
form#cpr-embedded-macros-window [data-application-part="navigation"] {
    flex: 0 0 auto;
}

form#cpr-embedded-macros-window [data-application-part="form"] {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;

    .form-group {
        margin-bottom: 0.5rem;
    }

    button {
        width: 100%;
    }

    /* Lock down CodeMirror height to prevent dynamic resizing */
    code-mirror {
        display: block !important;
        height: 400px !important;
        max-height: 400px !important;
        overflow: hidden !important;
    }

    code-mirror .cm-editor {
        height: 100% !important;
    }

    code-mirror .cm-scroller {
        height: 100% !important;
        overflow-y: auto !important;
    }
}

/* Common Formattings */

form .cpr-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1%;
    align-items: center;
    text-wrap: nowrap;
    gap: 0.625em;
}

form .cpr-row-center.cpr-multi-select-row {
    align-items: flex-end;
    justify-content: space-between;
}

form .cpr-row-center.cpr-multi-select-row label {
    padding: 2%;
}

form .cpr-row-center.cpr-multi-select-row multi-select {
    width: 100%;
}

form .cpr-row-center .multi-select-label {
    margin-top: 1.5em;
}

form .cpr-row-center .cpr-input-short {
    width: 50%;
}

.cpr-fieldset {
    border-radius: 4px;
    margin-top: 0.625em;
}

.cpr-fieldset .cpr-column {
    display: flex;
    flex-direction: column;
    width: 100%
}

.cpr-fieldset .cpr-row {
    display: flex;
    flex-direction: row;
}

.theme-dark .cpr-fieldset {
    border-color: var(--cpr-border-color);
}

/* Additional Compendiums Styles */

.cpr-compendiums {
    display: flex;
}

.cpr-compendiums-header {
    margin-bottom: 10px;
}

.cpr-compendiums .compendium-checkbox {
    flex: 0;
    margin-right: 10px;
}

.cpr-compendiums .compendium-label {
    flex: 1
}

.cpr-compendiums .compendium-number {
    flex: .1;
    text-align: center
}

/* Medkit Styles */

.activity .fa-kit-medical.chris-premades-item {
    font-family: var(--font-awesome);
}

.cpr-medkit-header {
    display: flex;
    align-items: baseline;
    gap: 0.625em;
    padding: 1%;
}
.cpr-medkit-header h1 {
    flex: 1;
    text-shadow: none !important;
    color: var(--button-text-color) !important;
    border: none;
    margin: 0;
}
.cpr-medkit-header p {
    font-family: var(--font-h1);
    font-size: var(--font-size-20);
}
.cpr-medkit-header i {
    font-size: var(--font-h1-size);
}

.cpr-medkit-tab {
    padding: 1%;
    margin: 0;
}

.cpr-medkit-tabs {
    border-bottom: var(--dnd5e-border-groove);
    border-top: var(--dnd5e-border-groove);
    padding: 2%;
    margin: 1%;
    margin-bottom: 10px;
}

.cpr-medkit-tab .cpr-fieldset .cpr-checkbox {
    height: 25px;
    --checkbox-size: 25px;
}

.cpr-medkit-tab .cpr-fieldset div.cpr-row-center:has(.cpr-checkbox) label {
    margin-right: 0.4em;
    width: auto;
}

.cpr-medkit-tab .cpr-fieldset .cpr-label-40 {
    width: 40%;
}

.cpr-medkit-tab .cpr-medkit-config .cpr-config-flex label {
    text-wrap: balance;
}

.cpr-medkit-tab .cpr-over-time-option .main-label {
    flex: 1
}
.cpr-medkit-tab .cpr-over-time-input {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cpr-medkit-tab .cpr-over-time-input input[type="checkbox"] {
    height: 25px;
    --checkbox-size: 25px !important;
}

.cpr-medkit-tab .cpr-over-time-input multi-select {
    width: 100%
}

.cpr-medkit-tab .cpr-character-amounts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.4em;
    align-items: baseline;
    width: 100%;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box h1 {
    text-shadow: none;
    color: var(--button-text-color);
    border: none;
    margin: 0;
    padding: 4px;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box p {
    font-family: var(--font-h1);
    font-size: var(--font-size-20);
    margin: 0;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.green {
    background: #00800080;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.yellow {
    background: #ffff0080;
}

.cpr-medkit-tab .cpr-character-amounts .cpr-amounts-box.red {
    background:#ff000080;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cpr-medkit-tab .cpr-actor-summary {
    display: flex;
    justify-content: center;
    margin-top: 0;
    user-select: text;
}

.cpr-medkit-tab .cpr-actor-summary legend {
    text-align: center;
    margin-bottom: 0.4em;
}

.cpr-medkit-tab .cpr-npc-amounts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column {
    width: 100%;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column h1 {
    text-shadow: none;
    color: var(--button-text-color);
    border: none;
    margin: 0;
    padding: 4px;
    font-size: var(--font-h2-size);
    text-align: center;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column ul {
    margin-left: 0.625em;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column:first-of-type h1 {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column:last-of-type h1 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.red h1 {
    background:#ff000080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.yellow h1 {
    background:#ffff0080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.green h1 {
    background:#00800080;
}

.cpr-medkit-tab .cpr-npc-amounts .cpr-amounts-column.grey h1 {
    background: #80808080;
    margin-bottom: 0.625em;
}

.cpr-medkit-tab .cpr-row-center.cpr-npc-identifier {
    justify-content: center;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-row-center:has(> select) {
    flex-basis: 50%;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-row-center:has(> multi-select) {
    flex-basis: 100%;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-row-center:has(> [type="text"]) {
    flex-basis: 50%;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-row-center:has(> [type="number"]) {
    flex-basis: 25%;
}

.cpr-medkit-tab[data-tab="devTools"] .cpr-fieldset .cpr-row-center > label {
    flex: 0.2
}

.cpr-medkit-tab[data-tab="devTools"] .cpr-fieldset .cpr-row-center > input {
    flex: 1
}

.cpr-medkit-tab .cpr-notification {
    padding: 0.5rem 1rem;
    line-height: 1rem;
    border-radius: 5px;
    text-shadow: 1px 1px black;
    position: relative;
    top: -1rem;
    margin: 0;
    text-align: center;
    text-wrap: auto;
}

.cpr-medkit-tab .cpr-notification.warning {
    background: var(--color-level-warning-bg);
    border: 1px solid var(--color-level-warning-border);
}

.cpr-medkit-tab .cpr-notification.error {
    background: var(--color-level-error-bg);
    border: 1px solid var(--color-level-error-border);
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-document-drop-display {
    display: flex;
    gap: 0.625em;
    justify-content: space-evenly;
    row-gap: 0.625em;
    margin-bottom: 0.625em;
    flex-wrap: wrap;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-document-drop-display .cpr-document-drop-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625em;
    background: var(--cpr-input-background);
    box-shadow: 0 0 5px 0px var(--cpr-border-color);
    border-radius: 4px;
    width: fit-content;
    margin-bottom: 0.625em;
}

.cpr-medkit-tab .cpr-fieldset-group .cpr-fieldset .cpr-document-drop-display .cpr-document-drop-item .cpr-document-drop-item-icon {
    width: var(--input-height);
    height: var(--input-height);
    border: 1px solid var(--cpr-border-color);
    border-radius: 4px;
}

/* Other */

form .cpr-settings.categories .form-group {
    margin-bottom: 1rem;
}

form .cpr-settings.categories .form-group .form-fields{
    flex: 1;
}

form .cpr-settings.categories .form-group .form-fields > input[type="checkbox"] {
    flex: 0 !important;
    height: 25px;
    --checkbox-size: 25px !important;
}

/* Just some flex values */

.cpr-config-flex {
    > label {
        flex: 1
    }
    > input {
        flex: .5;
    }
    > input[type="checkbox"] {
        flex: 0 !important;
        height: 25px;
        --checkbox-size: 25px !important;
    }
    > select {
        flex: .5
    }
    > file-picker {
        flex: 3
    }
}

.cpr-even-flex {
    > label {
        flex: 1
    }
    > input {
        flex: 1
    }
}

.cpr-input-flex {
    > label {
        flex: .2
    }
    > input {
        flex: 1
    }
}

/* Theme-based colorings for the medkit */

.theme-dark .cpr-medkit-tabs {
    border-color: var(--color-dark-1) !important;
}

.theme-light .cpr-medkit-tabs .item{
    color: var(--dnd5e-color-olive) !important;
}

.theme-light .cpr-medkit-tabs .item.active{
    color: var(--dnd5e-color-tan) !important;
}

.theme-dark .cpr-medkit-tabs .item {
    color: var(--cpr-border-color) !important;
}

.theme-dark .cpr-medkit-tabs .item.active {
    color: var(--color-light-3) !important;
}

.theme-light .cpr-medkit-tab div input:placeholder-shown {
    --input-placeholder-color: var(--dnd5e-color-olive);
}

.theme-dark .cpr-medkit-tab div input:placeholder-shown {
    --input-placeholder-color: var(--cpr-border-color);
}


/* Roll Resolver Styles */

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center {
    margin: 0px 0px 10px 0px;
    gap: 2px;
}

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center button {
    box-shadow: 0 0 5px 0px var(--button-border-color);
    border: none;
    flex: 1;
}

.roll-resolver-quick-buttons .cpr-fieldset.cpr-row-center legend {
    margin-bottom: 5px;
}

[id="cpr-roll-resolver"].roll-resolver-form.standard-form {
    gap: 0;
}

[id="cpr-roll-resolver"] .roll-resolver-content {
    border-bottom: 1px solid;
    text-align: center;
    padding-bottom: 1%;
    font-size: var(--font-size-16);
}

.theme-dark .roll-resolver-content {
    border-color: var(--cpr-border-color);
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers {
    display: flex;
    justify-content: center;
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    font-style: italic;
}

.theme-dark [id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    color: var(--color-light-4);
}

.theme-light [id="cpr-roll-resolver"] .roll-resolver-modifiers p {
    color: var(--color-dark-3);
}

[id="cpr-roll-resolver"] .roll-resolver-modifiers p span {
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--color-text-primary);
}

[id="cpr-roll-resolver"] .roll-resolver-group .damage-type-icon {
    width: 30px;
    border: none;
}

.theme-dark .roll-resolver-group .damage-type-icon {
    filter: invert(10%) sepia(10.5%) saturate(2000%) hue-rotate(0deg) brightness(2100%) contrast(100%);
}

[id="cpr-roll-resolver"] .roll-resolver-group {
    padding: 0.625em;
    justify-content: center;
    align-items: center;
}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    gap: 0.625em;

}

[id="cpr-roll-resolver"] .roll-resolver-group.roll-resolver-grid p:first-of-type{
    text-align: end;
}

[id="cpr-roll-resolver"] .roll-resolver-group input {
    flex: 1
}

/* Coloring Styles */

[data-medkit-color="pink"] {
    color: pink
}

[data-medkit-color="red"] {
    color: red
}

[data-medkit-color="orange"] {
    color: orange
}

[data-medkit-color="yellow"] {
    color: yellow
}

[data-medkit-color="green"] {
    color: green
}

[data-medkit-color="dodgerblue"] {
    color: dodgerblue
}

[data-medkit-color="orchid"] {
    color: orchid
}

/* Setting Styles */
.cpr-troubleshooter form>div {
    height: calc(100% - 1.25 * var(--input-height) - 3.5rem);
}

#chris-premades-settings .window-content {
    overflow-y: auto;
}

/* Chat Styles */
.chat-message:has(button.chris-update-item,button.chris-tour) a.avatar > img {
    content: url("/modules/chris-premades/images/cpr-logo.png")
}

button.chris-update-item,button.chris-tour {
    width: 100%;
}

/* Quick Conditions */

.form-fields:has(.cpr-quick-conditions) {
    i {
        visibility: hidden;
        position: absolute;
        padding-right: 7px;
        filter: drop-shadow(0px 0px 5px var(--dnd5e-color-gold));
    }
}
.form-fields:has(.cpr-quick-conditions):hover i {
    visibility: visible;
}
div.cpr-quick-conditions {
    padding-bottom: 0.625em;
}
.cpr-quick-conditions div#edit .quick-conditions-group-condition {
    flex-basis: 70%;
    justify-content: center;
    padding: 0%;
}
.cpr-quick-conditions div#edit .quick-conditions-group-condition:first-child {
    flex-basis: 90%;
    justify-content: flex-start;
}
.cpr-quick-conditions div#edit .quick-conditions-group-condition select#not {
    width: 15%;
}
.cpr-quick-conditions div#edit .quick-conditions-group-condition-remove {
    display: flex;
    flex-basis: 5%;
    justify-content: flex-end;
}
.cpr-quick-conditions div#edit .quick-conditions-group-logic {
    flex-basis: 10%;
}
.cpr-quick-conditions div#edit {
    align-items: end;
    padding: 20px 0 10px 0;
}
.cpr-quick-conditions div#edit > * {
    align-items: end;
}
.cpr-quick-conditions fieldset {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
