form .better-dialog .form-group input[type="radio"] {
    flex: 0;
    margin: 0px 5px;
    top: 0px;
}

form .better-dialog .form-group > div {
    margin: 0px 5px;
}

form .better-dialog .form-group > div.row-display {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

form .better-form-footer {
    margin: 10px 5px 0px;
    display: flex;
    flex-direction: row;
}

form .better-dialog .form-group img.label-image {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

form .better-dialog .form-group .row-display img.label-image {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}

form .better-dialog .form-group .row-display p.label-text {
    padding: 1%;
    text-align: center;
    font-size: 15px;
}

form .better-dialog .form-group button.form-button {
    padding: 0 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form .better-dialog .form-group img.button-image {
    width: 50px;
    height: 50px;
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

form .better-dialog .form-group p.button-text {
    width: 100%;
    padding: 1%;
    font-size: 15px;
}

form .better-dialog .content {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

form .better-dialog .form-group .flex-col button.form-button {
    padding: 0 0;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form .cpr-compendiums {
    display: flex;
}

.cpr-compendiums-header {
    margin-bottom: 10px;
}

form .cpr-compendiums .compendium-checkbox {
    flex: 0;
    margin-right: 10px;
}

form .cpr-compendiums .compendium-label {
    flex: 1
}

form .cpr-compendiums .compendium-number {
    flex: .1;
    text-align: center
}